/AllTests.class
/TestAddRemoveBooks.class
/TestAddRemoveMembers.class
/TestBorrowBooks.class
/TestController.class
/TestFindClassString.class
/TestNotAvailableBook.class
/TestRemoveMemberWithBooks.class
/TestBorrowingService.class
/TestAddRemoveAudioBooks.class
/TestAddRemoveEBooks.class
/TestAddRemovePaperBooks.class
